################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/addressBook.angular/bin
/addressBook.angular/obj

