<div class="jumbotron py-2">
  <h1 class="display-4 text-center">Contacts Form</h1>
</div>

<div class="row">
  <app-addressbook-form></app-addressbook-form><br />
  <div class="row">
    <div class="form-group col-md-4">
      <input class="form-control form-control-" type="search" [(ngModel)]="search" placeholder="Search by Name">
    </div>
    <div class="form-group col-md-4">
      <input class="form-control form-control-" type="search" placeholder="Search by Phone">
    </div>
    <div class="form-group col-md-4">
      <input class="form-control form-control-" type="search" placeholder="Search by Address">
    </div>
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Phone No.</th>
          <th>Email</th>
          <th>Address</th>
          <th>Address Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of (service.list | filter:search) as fullName">
          <td (click)="populateForm(row)">{{row.fullName}}</td>
          <td (click)="populateForm(row)">{{row.phoneNumber}}</td>
          <td (click)="populateForm(row)">{{row.email}}</td>
          <td (click)="populateForm(row)">{{row.address}}</td>
          <td (click)="populateForm(row)">{{row.addressType}}</td>
          <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(row.id)">Delete</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
