<div class="jumbotron py-2">
  <h1 class="display-4 text-center">Contacts</h1>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <a class="btn btn-primary btn-lg btn-block" href="#" type="button" routerLink="/new">Create Contact</a>
  </div>
</div>
<br />

<div class="row">
  <div class="row">
    <div class="form-group col-md-4">
      <input class="form-control form-control-" type="search" [(ngModel)]="searchbyname" placeholder="Search by Name">
    </div>
    <div class="form-group col-md-4">
      <input class="form-control form-control-" type="search" [(ngModel)]="searchbyphone" placeholder="Search by Phone">
    </div>
    <div class="form-group col-md-4">
      <input class="form-control form-control-" type="search" placeholder="Search by Address">
    </div>
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Phone No.</th>
          <th>Email</th>
          <th>Address</th>
          <th>Address Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of (service.list | filterbyname:searchbyname) as fullName">
          <td class="align-middle">{{row.fullName}}</td>
          <td class="align-middle">{{row.phoneNumber}}</td>
          <td class="align-middle">{{row.email}}</td>
          <td class="align-middle">{{row.address}}</td>
          <td class="align-middle">{{row.addressType}}</td>
          <td>
            <i class="far fa-lg text-primary" ng-click="goToDetails(row.id)" href="#" routerLink="/edit/{{row.id}}">Edit</i>
            <br />
            <i class="far fa-lg text-primary" href="#" routerLink="/details/{{row.id}}">Details</i>
            <br />
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(row.id)">Delete</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
