<div class="jumbotron py-2">
  <h1 class="display-4 text-center">Create Contact</h1>
</div>

<div class="container">
  <form>
    <div class="container">
      <div class="row">
        <div class="form-group col-md-3">
          <label>Full Name</label>
          <input
            class="form-control form-control-lg"
            placeholder="Full Name"
            name="fullName"
            #fullName="ngModel"
            [(ngModel)]="contact.fullName"
            required
          />
        </div>
        <div class="form-group col-md-3">
          <label>Phone No.</label>
          <input
            class="form-control form-control-lg"
            placeholder="Phone No."
            name="phoneNumber"
            #phoneNumber="ngModel"
            [(ngModel)]="contact.phoneNumber"
            required
          />
        </div>
        <div class="form-group col-md-3">
          <label>Email</label>
          <input
            class="form-control form-control-lg"
            placeholder="Email"
            name="email"
            #email="ngModel"
            [(ngModel)]="contact.email"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <label>Address</label>
          <input
            class="form-control form-control-lg"
            placeholder="Address"
            name="address"
            #address="ngModel"
            [(ngModel)]="contact.address"
            required
          />
        </div>
        <div class="form-group col-md-3">
          <label>Address Type</label>
          <input
            class="form-control form-control-lg"
            placeholder="Address Type"
            name="addressType"
            #addresstype="ngModel"
            [(ngModel)]="contact.addressType"
          />
        </div>
        <div class="form-group">
          <label></label><br />
          <button
            class="btn btn-primary btn-lg btn-block"
            (click)="saveTutorial()"
            type="submit"
          >
            Create
          </button>
          |
          <button
            class="btn btn-primary btn-lg btn-block"
            type="button"
            href="#"
            routerLink="/"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <br />
  </form>
</div>
