<div class="jumbotron py-2">
  <h1 class="display-4 text-center">Edit Contact</h1>
</div>

<div class="container">
  <form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="id"
           value="service.model.id" />
    <div class="container">
      <div class="row">
        <div class="form-group col-md-3">
          <label>Full Name</label>
          <input class="form-control form-control-lg" placeholder="Full Name"
                 name="fullName" #fullname="ngModel" [(ngModel)]="service.model.fullName" required />
        </div>
        <div class="form-group col-md-3">
          <label>Phone No.</label>
          <input class="form-control form-control-lg" placeholder="Phone No."
                 name="phoneNumber" #phonenumber="ngModel" [(ngModel)]="service.model.phoneNumber" required />
        </div>
        <div class="form-group col-md-3">
          <label>Email</label>
          <input class="form-control form-control-lg" placeholder="Email"
                 name="email" #email="ngModel" [(ngModel)]="service.model.email" required />
        </div>
      </div>


      <div class="row">
        <div class="form-group col-md-3">
          <label>Address</label>
          <input class="form-control form-control-lg" placeholder="Address"
                 name="address" #address="ngModel" [(ngModel)]="service.model.address" required />
        </div>
        <div class="form-group col-md-3">
          <label>Address Type</label>
          <input class="form-control form-control-lg" placeholder="Address Type"
                 name="addressType" #addresstype="ngModel" [(ngModel)]="service.model.addressType " />
        </div>
        <div class="form-group">
          <label></label><br />
          <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="form.invalid">Edit</button> |
          <button class="btn btn-primary btn-lg btn-block" type="button" href="#" routerLink="/" (click)="resetForm(form)">Cancel</button>
        </div>
      </div>
    </div>
    <br />
  </form>
</div>
