<div class="jumbotron py-2">
  <h1 class="display-4 text-center">Contact Details</h1>
</div>

<div>
  <div>
    <table class="table">
      <tbody>
        <tr>
          <th>Full Name</th>
          <td>{{currentContact.fullName}}</td>
        </tr>
        <tr>
          <th>Phone No.</th>
          <td></td>
        </tr>
        <tr>
          <th>Email</th>
          <td></td>
        </tr>
        <tr>
          <th>Address</th>
          <td></td>
        </tr>
        <tr>
          <th>Address Type</th>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>


  <button class="btn btn-primary btn-lg btn-block" type="button" href="#" routerLink="/edit">Edit</button> |
  <button class="btn btn-primary btn-lg btn-block" type="button" href="#" routerLink="/">Cancel</button> |
  <button class="btn btn-danger btn-lg btn-block" type="button" href="#" routerLink="/">Delete</button>
</div>
